*{
    padding: 0;
    margin: 0;
    font-weight: 400;
}

body{
    color: aliceblue;
    background-color: #171414;
    font-family: "Montserrat", sans-serif;
    
}
header{
    display: flex;
    align-items: center;
    padding-left: 35px;
    height: 100px;
    background-color: rgba(13, 3, 89, 0.56);

}

header h3{
    font-size: 48px;
}

section{
    height: 100vh;
}
.section-1{
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.section-1 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 100px;
    margin-bottom: 100px;
}

.section-1 article h2{
    margin-bottom: 180px;
    margin-left: 80px;
}
.section-1 div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 25%;
}
.section-1 h1{
    font-size: 96px;
}

.section-1 h2{
    font-size: 36px;
}

.section-1 h3{
        margin-bottom: 130px;
}
.section-1 div hr{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.section-1 hr:not(.rotate){ /*estou negando a class rotate*/
    position: absolute;
    height: 90%;
    z-index: -1;
    opacity: 0.1;
    margin-bottom: 40px;
}

.section-1 p{
    margin-bottom: 30px;
    position: absolute;
    left: 70px;
}
.hr-1{
    left: 25%;
}

.hr-2{
    left: 45%;
}
.hr-3{
    left: 65%;
}

.hr-4{
    left: 85%;
}


.rotate{
    transform: rotate(90deg);
}

.a-1{
    margin-top: 100px;
}
.section-1 img{
    width: 35px;
    right: 35px;
}
strong{
    font-weight: bold;
}