*{
    padding: 0;
    margin: 0;
    font-weight: 400;
}

body{
    color: aliceblue;
    background-color: #171414;
    font-family: "Montserrat", sans-serif;
    
}
header{
    display: flex;
    align-items: center;
    padding-left: 35px;
    height: 100px;
    background-color: rgba(13, 3, 89, 0.56);

}

header h3{
    font-size: 48px;
}

section{
    height: 100vh;
}
.section-1{
    position: relative;
}

.section-1 div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 25%;
}

.section-1 h3{

    margin-bottom: 130px;
}
.section-1 hr{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.rotate{
    transform: rotate(90deg);
}

.a-1{
    margin-top: 100px;
}
.section-1 img{
    width: 35px;
    right: 35px;
}
strong{
    font-weight: bold;
}